@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --outline-color: #dbc2cf;
  --fill-color: transparent;
}

body {
  font-family: "Inter";
  font-weight: bold;
}

.bg {
  /* background-image: url('https://cdn.discordapp.com/attachments/929268303761928222/938467186849247342/Request_Access.png');
  background-size: cover; */
}


.bg-text {
  color: transparent;
	/* font-size: 400px; */
  stroke-width: 0.3px;
	-webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: white;
}

.text {
  display: table;
  color: white;
  font-size: 4.2vw;
}